{% extends 'layouts/base.html' %}

{%block content%}


<h1>Pagina de About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas inventore dolor ex? Aut voluptate tenetur cupiditate, iure ratione veritatis ipsam voluptates. Labore soluta temporibus, quas quia quibusdam perspiciatis aspernatur ipsam quidem facere, at, perferendis delectus in porro! Culpa ducimus deserunt adipisci atque iure necessitatibus obcaecati, cumque corporis consequatur consequuntur voluptatum perferendis nisi, veniam reiciendis possimus quod, excepturi cum earum illum eius? Rerum quia quos corrupti, cum impedit dolor dolorum quae earum soluta, autem ipsum necessitatibus eligendi ut nihil accusantium et quo optio in, blanditiis repellat! Animi cumque voluptatum eveniet? Doloremque molestias iste excepturi dicta, assumenda fugiat architecto exercitationem et facilis?</p>

<p>Website creada por {{username}}</p>
{%endblock%}